@page "/playlist"
@using Dapper.CRUD.Data.Models
@using Dapper.CRUD.Data.DAL

<h3>Play List</h3>

<SfGrid TValue="PlayList" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
    <SfDataManager AdaptorInstance="typeof(PlayListDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(PlayList.PlaylistId)" IsPrimaryKey="true" Visible="false"></GridColumn>
        <GridForeignColumn Field=@nameof(PlayList.PlaylistTrackId) HeaderText="Track Name" ForeignKeyField="TrackId" ForeignKeyValue="Name"
                           ForeignDataSource="@trackList" Width="150"></GridForeignColumn>
        <GridColumn Field="@nameof(PlayList.Name)" Width="100"></GridColumn>
    </GridColumns>
</SfGrid>

@code {

}
